body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fcfcfc;
}

body {
    font-family: 'Poppins', sans-serif;

}

/*      Header Site Start---*/
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 200px;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    border-radius: 30px;
    margin-left: 120px;
    margin-right: 119px;
    margin-top: 50px;

    flex-wrap: nowrap;




}

.header-photo img {
    max-height: 100%;
    min-width: 100%;
}


.header-article {
    color: white;
}



.button {
    background-color: #DD0000;
    border-radius: 7px;
    color: #FFFFFF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer
}



.button:hover {
    background-color: #FFFFFF;


    color: #34495e;
}



/*--------------------Upcoming------------*/

.upcoming {
    display: flex;
}


/*                   Menu*               */
.menu {
    background-color: black;
    color: whitesmoke;
}

.upcoming-match {
    color: white;
}

.match .match-banner img {
    width: 224px;
    height: 104px;
}

.match {
    background-color: E8E8E8
}

.match-title {
    color: #161616;
}

/*                 Footer Style                           */
footer {
    background-color: black;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-details {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.footer-content h3 {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: white;
}



.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials a {
    text-decoration: none;
    color: #ffff;
}

.socails a i {
    font-size: 1.1rem;
}



.socials li {
    margin: 0 10px;
}

.footer-details li {
    margin: 0 10px;
}



.footer-details a {
    text-decoration: none;
    color: #B9B9B9
}





.footer-details a i {
    font-size: .1rem;
}



hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1320px;
}