body {
    font-family: 'Poppins', sans-serif;
}

/*      Header Site Start---*/
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 200px;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    border-radius: 30px;
    margin-left: 120px;
    margin-right: 119px;
    margin-top: 50px;

    flex-wrap: nowrap;




}

.header-photo img {
    max-height: 100%;
    min-width: 100%;
}


.header-article {
    color: white;
}



.button {
    background-color: green;

    border-radius: 7px;
    color: #95a5a6;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer
}



.button:hover {
    background-color: #ffda79;

    color: #34495e
}


/*--------------------Upcoming------------*/

.upcoming {
    display: flex;
}


/*                   Menu*               */
.menu {
    background-color: black;
    color: whitesmoke;
}

.upcoming-match {
    color: white;
}

.match .match-banner img {
    width: 224px;
    height: 104px;
}

.match {
    background-color: E8E8E8
}

.match-title {
    color: #161616;
}

/*                       Footer                             */
footer {
    background-color: black;
    height: auto;
    width: 100vw;
    font-family: "open-sens";
    padding-top: 40px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: white;
}

.footer-details {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socails {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;



}

.footer-details {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li {
    margin: 0 10px;
}

.footer-details li {
    margin: 0 10px;
}

.soial a {
    text-decoration: none;
    color: #ffff;
}

.footer-details a {
    text-decoration: none;
    color: #B9B9B9
}


.socail a i {
    font-size: 1.1rem;
}

.footer-details a i {
    font-size: 1.1rem;
}

.footer-bottom {
    background-color: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1320px;


}